.button {
  align-items: center;
  background-color: var(--blue);
  border-radius: 0.75rem;
  border: 0;
  color: var(--white);
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  max-width: 100%;
  min-width: 120px;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
}

@media (max-width: 450px) {
  .button {
    font-size: 1.25em;
    height: 30px;
    max-width: 50px!important;
  }
}
