.home {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh ();
  overflow-x: hidden;
}

.container {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 70px);
  width: 100%;

  h1 {
    color: var(--gray-300);
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
  }
}

.content {
  background: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;

  ul {
    gap: 0.25rem;
  }

  li {
    border: none;
  }
  li a {
    background: var(--gray-300);
    border-radius: 0.25rem;
    color: var(--white);
  }

  li.ant-pagination-item-active a {
    background: var(--green-300);
    border: none;
    color: var(--white);
  }
}

.content-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  h1 {
    color: var(--gray-300);
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
  }
}

.actions-table {
  display: flex;
  gap: 0.5rem;
}

.btn-table {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 1em;
  justify-content: center;
  border: none;
  color: var(--white);
  gap: 0.25rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    color: var(--white);
  }

  @media (max-width: 600px) {
    span {
      display: none;
    }
  }
}

.btn-edit {
  background: var(--blue);
}

.btn-delete {
  background: var(--red);
}

.ant-table-cell,
.ant-table-cell ant-table-cell-ellipsis {
  background: var(--white);
}

@media (max-width: 600px) {
  .container {
    .content {
      width: 80%;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .search-indexador {
      display: none;
    }
  }
}

@media (max-width: 350px) {
  .container {
    width: 100%;
    gap: 0rem;
    .content {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .content-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .search-indexador {
      display: none;
    }
  }
}
